
<%-include("partials/BootHeader.ejs")%>
<link rel="stylesheet" href="/styles/content.css">
 <link rel="stylesheet" href="/styles/bootStrap.css" />
 <link rel="stylesheet" href="/styles/sty.css" />

<div class="container">
    <h1 class="university-name"><%= locals.uniName %></h1>
    <div class="description-box">
        <p class="description"><%= locals.description %></p>
        <a href="<%=locals.uniWeb %>" target="_blank" class="visit-button">Explore</a>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script async src="https://cse.google.com/cse.js?cx=b3d2e60ba7b4148db">
</script>
 <div class="gcse-search"></div>
<script>
// Function to check the user's login status and update the button content on page load.



</script>


 <%-include("partials/footer.ejs")%>